* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'roboto', sans-serif;
}

header {
    padding: 15px;
    text-align: center;
    display: flex;
    justify-content: space-between;
}

h1, h3, form, input {
    font-size: 1.5em;
}


input {
    font-size: .8em;
    border-radius: 3px;
    padding: 5px;
}


/* Results Section */
main {
    text-align: center;
}

ul {
    display: inline;
}

li {
    list-style-type: none;
}

.show-container {
    text-align: center;
}

.show-date {
    margin-top: 10px;
}


.thumbnail {
    height: 240px;
    width: 300px;
}

.hidden {
    display: none;
}