* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'roboto', sans-serif;
}

header {
    text-align: center;
    display: block;
    padding: 150px;
}

h1 {
    font-size: 4em;
    margin-bottom: 20px;
}

h3, form, input {
    margin: 10px;
    font-size: 1.5em;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}


label {
    font-size: 1em;
}

input {
    font-size: .8em;
    border-radius: 3px;
    padding: 5px;
}

ul {
    display: inline;
}

li {
    list-style-type: none;
}

.show-container {
    text-align: center;
}

.show-date {
    margin-top: 10px;
}

.thumbnail {
    max-height: 240px;
    max-width: 300px;
}

.hidden {
    display: none;
}