* {
    box-sizing: border-box;
    margin: 0;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    /* color: #2f3640; */
}

body {
    color: #2f3640;
    background: url('images/crowd.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: #e84118;
    background-blend-mode: darken;
}

input {
    all: unset;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: #e84118;
}

.hidden {
    display: none;
}

/* HEADER SECTION*/
header {
    padding-top: 100px;
    text-align: center;
    display: block;
}

h1 {
    text-shadow: 1.4px 1px 1px black;
}

h3 {
    font-size: 1.5em;
    text-shadow: 1px 1px 1px black;
}

.add-margin {
    margin: 20px;
}

/* SEARCH BAR */
#search-bar {
    border-radius: 40px;
    height: 60px;
    width: 400px;
    text-align: left;
    display: flex;
    align-items: center;
    padding-left: 5px;
    position: relative;
    bottom: 6px;
    color: #f1f1f1;
    margin: auto;
    background-color: #2f3640;
    box-shadow: 2px 3px 3px black;
}

#search-term {
    width: 320px;
}

#submit {
    color: #e84118;
    border: solid #e84118 2px;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    margin: 0 10px;
    cursor: pointer; 
    display: flex;
    align-items: center;
    justify-content: center;
}

/* LOADER ANIMATION */

#loader {
    display: flex;
    justify-content: center;
    align-items: center;
}

#loader > span {
    display: inline-block;
    background-color: grey;
    height: 0;
    width: 0;
    border-radius: 50%;
    margin: 0 8px;
    animation: bounce 0.6s infinite alternate;
    transform: translate3d(0);
}

#loader > span:nth-child(2) {
    background-color: rgb(159, 159, 159);
    animation-delay: 0.2s;
}

#loader > span:nth-child(3) {
    animation-delay: 0.4s;
}

@keyframes bounce {
    to {
        width: 12px;
        height: 12px;
        transform: translate3d(0, -16, 0);
    }
}

/* RESULTS SECTION */
main {
    text-align: center;
    padding: 20px 80px;
}

#container {
    background-color: #2f3640;
    border-radius: 4px;
    padding: 20px;
    color: #f1f1f1;
    box-shadow: 2px 3px 3px black;
}

.results-head {
    display: inline;
    color: #f1f1f1;
}

#results {
    text-align: left;
    margin-bottom: 10px;
}

/* EVENTS LIST */
.event-container {
    margin-top: 20px;
    display: flex;
    border-bottom: #f1f1f1 solid 1.4px;
    padding-bottom: 20px;
    align-items: center;
    justify-content: space-between;
}

.thumbnail {
    height: 100px;
    width: 120px;
    border-radius: 4px;
}

.event-date {
    width: 4%;
    color: #f1f1f1;
}

.event-month {
    font-size: 15px;
}

.event-day {
    font-size: 20px;
}

.event-name {
    width: 38%;
    font-size: 15px;
    color: #f1f1f1;
}

.venue-city {
    display: inline;
    width: 12%;
}

.event-venue {
    font-size: 15px;
}

.event-city {
    font-size: 15px;
}

.social-media-container {
    display: inline;
    width: 10%
}

.web-info {
    margin: 4px;
}

#no-results-message {
    font-size: 1.2em;
    margin-bottom: 5px;
}

/* BUTTONS SECTION */
#submit:active {
    background-color: #e84118;
    color: #2f3640;
}

#submit:hover {
    -webkit-transform: scale(1.05);
}

.event-link {
    font-size: 16px;
    border-radius: 4px;
    padding: 5px;
    background-color: #2f3640;
    color: #e84118;
    border: none;
}

.next {
    padding: 5px;
    border-radius: 4px;
    cursor: pointer;
    color: #e84118;
    width: 50%;
}

.event-link:hover {
    background-color: #e84118;
    color: #2f3640;
    -webkit-transform: scale(1.05);
    transition-duration: .4s;
}

.next:hover {
    background-color: #e84118;
    color: #2f3640;
    -webkit-transform: scale(1.05);
    transition-duration: .4s;
}

.venue-city:hover {
    filter: brightness(150%);
    transition-duration: .4s;
}

.social-media-container:hover {
    filter: brightness(150%);
    transition-duration: .4s;
}